@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html{
    font-size: 10px;
    overflow-x: hidden;
}

:root{ 
    --blue-1: #454d5b;
	--blue-2: #171a44;
	--lightGreen-1: #d6e5d8;
	--lightGreen-2: #f5fcf4;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
}

body{
    background-color: var(--blue-1);
    overflow: hidden;
}

/* 100px gap through out each section */
section{
    padding: 100px 0;
}

/* contains every info in 1200px */
.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}
@media only screen and (max-width: 768px) {
	section {
		padding: 50px 0;
 }
}