@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
/*rest browser to 0 just incase*/
 * {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
 }

html {
    font-family: 'Source Code Pro';
    font-size: 14px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)), url('./nik-owens-40OJLYVWeeM-unsplash.jpg') no-repeat center / cover;
    color: white;

}

.container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* the code for the loading starts here */
h1.loading{
  font-size: oem;
  font-family: 'Source Code Pro';
  
}  
span[class^="dot-"]{
  opacity: 0;
}
.dot-one{
  animation: dot-one 2s infinite linear
}
.dot-two{
  animation: dot-two 2s infinite linear
}
.dot-three{
  animation: dot-three 2s infinite linear
}
@keyframes dot-one{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes dot-two{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes dot-three{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
/*ends here*/

/*.container .info h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}*/

/*.container .info p{
    font-size: 1.2rem;
    max-width: 60%;
    margin-bottom: .5rem;
    /* margin: 0 auto; 
    margin-left: 0;
}*/

.container .info a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 60px;
    font-size: 1.1rem;
    padding: 0.5em 2em;
    margin-top: 0.1em;
    color: black;
}
/* to adapt to small screens*/
@media only screen and (max-width:768px) {
    html {
        font-size: 10px;
    }
    
}